.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}
/* GAHHH A GOOGLE FONT! */

header {

}
/* im going to add more links! */

body {
  font-family: monospace, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('media/bald.png');
  width: 480px;
}
/* "global" options */


img {
  width: 25%
}
/* for images ofc */

a {
  text-decoration: none;
  background-color: white;
}
/* links ONLY */

p {
  line-height: 1.2;
  background-color: white;
}
/* body co- i mean text */

p1 {
  background-color: white;
}
/* body text part 2 */

h1 {
  font-size: 42px;
  text-align: center;
}
/* for headings */