body {
  font-family: monospace, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: aliceblue;
  background-image: url('media/bald.png');
}

img {
  width: 25%
}

p {
  line-height: 1.2;
  width: 480px
}

h1 {
  font-size: 42px
  
}

span {
  text-decoration: underline;
}